<div class="container">
<h1>Index</h1>
<ul>
  <% @tasks.each do |task| %>
    <li><strong><%= link_to(task.name, task_path(task)) %></strong> (<%= link_to("Edit", edit_task_path(task)) %> or <%= link_to("Delete", task_path(task), method: :delete, data: { confirm: "Are you sure?" })%>)</li>
  <% end %>
</ul>

<%= link_to("Create new task", new_task_path)%>
</div>
